.book-details {
    display: grid;

    padding: 10px;
    background-color: lightsteelblue;
    margin-block-start: 10px;
}

.book-details img {
    width: 150px;
    justify-self: center;
    margin-bottom: 1em;
}

.book-details button {
    justify-self: end;
}

.book-details span {
    font-weight: 700;
}

.high-price {
    color: red;
}

.low-price {
    color: rgb(12, 175, 12);
}

.book-details div {
    justify-self: center;
}